header{
    background-color: #fffd92;
}
.index-header{
    height: 100vh;
}

h5,p, a, h2, h3{
    color: #c31952!important;
    text-align: center;
    text-decoration: none;
}
.carousel-item > img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.search-bar{
    max-width: 500px!important;
}

.boton{
    background: linear-gradient(145deg, #fffd92 0%, #eceb7e 100%);
}

/* HEADER */
/* SECCION - BUSCAR COMIDA */
.search-foot{
    margin-top: 1.5rem;
}

/* MAIN */
/* SECCION - TARJETA DE COMIDA*/
main{
     background-color: #eaeae9;    
}
.tarjeta{
    background-color: white;
    width: 300px;
    box-shadow: #d1d1d1 0px 1px 20px 1px;
    border-radius: 10px;
    margin: 10px;
}
.tarjeta img{
    width: 100%;
    object-fit: cover;
}
.describcion-tarjeta{
    background-color: #fffd92;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

/* SECCION - TARJETA DE RESTAURANTES*/
.restaurantes{
    margin-top: 50px;
}

/* SECCION -TABLA UBICACIONES*/
.container-table-adress{
    margin: 50px;
}
.encontrar-restaurante{
    max-width: 80%;
    margin: 0 auto;
}
/* SECCION -FOORER*/

.footer-section{
    padding: 5px;
    margin: 5px;
}

.col div>a{
    color: rgb(24, 24, 24)!important;
    font-weight: bold;
}

footer>.footer-redes-sociales{
    background-color: rgb(14, 14, 14);
    padding: 25px;
}
footer>.footer-redes-sociales > div > a{
    margin-left: 25px;
}


/* CPAGINA DE COMPRAR */
.container-pedido{
    padding: 25px 0;
}
.enlace{
   text-decoration:underline;
}

/* PAGINA DE INFO DE RESTAURANTE INDIVIDUAL */

video{
    max-width: 100%;    
    object-fit: cover;
}

.main-menu-desplegable{
    padding-top: 1.5rem;
}

/* SECCION DE PAGO */
.datos-de-pago{
    width: 40%;
}

.separacion-margin{
    padding-left: 20px;
}

.container-table-adress{
    padding-bottom: 20px;
}

/* LOGIN */

.iniciar-sesion{
    margin:0 auto;
}