/* GLOBALES */
:root{
    --colorAmarillo:#fffd92;
    --colorTexto: #c31952;
}

main{
    background-color: #eaeae9;  
    padding-top: 10PX;  
}
p, h2, h3, .link{
    color: var(--colorTexto)!important;
    text-align: center;
    text-decoration: none;
}

.full-screen{
    height: 100vh;
}

.bg-color{
    background-color: var(--colorAmarillo)
}
.search-foot{
    margin-top: 1.5rem;
}

.header-other-secction{
    padding-bottom: 25px;
}

.btn-menu-movil{
    background-color: var(--colorTexto);
    color: white;
    width: 100%;
    margin-bottom: .2rem;
}
/******************** MEDIA QUERIS PC ************************/
@media (min-width:768px){
    /* CONFIGURACION-GLOBAL-MODO-PC */    
    a, h5{
        color: #c31952!important;
    } 
    .menu-modo-pc{
        display:contents!important;
    }
    .menu-modo-movil{
        display: none;
    }

    /* seccion slider del main */
    .carousel-item > img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .nav-bar{
        background-color:var(--colorAmarillo)!important;
    }
    .nav-bar ul li{
        margin-right: 2rem;
    } 

    /* seccion de buscador   */
    .search-bar{
        max-width: 500px!important;
    }

    /* cadena de restaurantes y comida */
    .tarjeta img{
        width: 100%;
        object-fit: cover;
    }

    #cadena-de-restaurantes, #foot-c-father{
        display: flex;
    }
    .tarjeta{
        width: 300px;
        margin: 0 5px!important;
    }

    /* seccion -tabla ubicacioneS*/
    .container-table-adress{
        margin: 50px;
    }
    .encontrar-restaurante{
        max-width: 80%;
        margin: 0 auto;
    }

    .encontrar-restaurante{
        width: 75%;
    }

    /**** PAGINA: DESCIPCION-COMIDA-HTML ****/
    .flex-img-comdida{
        flex-direction: row!important;
    } 
    
    /**** PAGINA: PROCESAR-PAGO ****/
    .container-pedido{
        flex-direction: row!important;
    }
    .datos-de-pago{
        width: 40%;
    }
    .separacion-margin{
        padding-left: 20px;
    }

    .container-table-adress{
        padding-bottom: 20px;
    }
}


/************************* MOBILE FIRST CONFIG **************/
    /* menu amburguesa */

        .menu-modo-pc{
            display: none; 
        }
        .menu-hamburguesa-icon{
            width: 30px;
        }
        .nav-bar{
            background-color: #c31952;   
        }
        .nav-item a{
            color: white;
            text-align: center;
        }

        /* slider */
        .img-slider{
            width: 100%;
        }

    /* texto-bucar, buscador y btn bucar */

    /* Catalogos de Comida, cadena de restaurantes */       
       .tarjeta{
           background-color: white;
           width: 90%;
           box-shadow: #d1d1d1 0px 1px 20px 1px;
           border-radius: 10px;
           margin: 20px auto;
       }

       .tarjeta img{
        width: 100%;
        object-fit: cover;
       }
       
       .describcion-tarjeta{
           background-color: #fffd92;
           display: flex;
           justify-content: center;
           align-items: center;
           height: 2.5rem;
       }
        .describcion-tarjeta h5{
            color: var(--colorTexto);
        }
        
        .restaurantes{
            margin-top: 50px;
        }


    /* seccion -tabla ubicacioneS*/
        .encontrar-restaurante{
            max-width: 90%;
            margin: 0 auto;
        }

     /* SECCION -FOOTER - Part 1*/
        .footer-section{
            padding: 5px;
            margin: 5px;
        }

        .col div>a{
            color: rgb(24, 24, 24)!important;
            font-weight: bold;
            font-size: 1rem;
        }

        /* SECCION -FOOTER - Part 2*/
        footer>.footer-redes-sociales{
            background-color: rgb(14, 14, 14);
            padding: 25px;
        }
        footer>.footer-redes-sociales > div > a{
            margin-left: 25px;
        }

/**** PAGINA: DESCIPCION-COMIDA-HTML ****/
    .flex-img-comdida{
        flex-direction: column;
        align-items: center;
    }  
    
    @media (max-width:768px){
        .col-6{
            width:max-content;
        }
    }

 /****** CPAGINA DE COMPRAR ********/
    .container-pedido{
        padding: 25px 0;
    }
    .enlace{
    text-decoration:underline;
    }

/****** PAGINA DE INFO DE RESTAURANTE INDIVIDUAL *******/

    video{
        max-width: 100%;    
        object-fit: cover;
    }

    .main-menu-desplegable{
        background-color: #c31952b4;
    }
    div.card-body{
        text-align: center;
    }

/******** SECCION DE PAGO ********/
    .container-pedido{
        flex-direction: column;
        align-items: center;
    }

/*/******** LOGIN ********/*/
    .iniciar-sesion{
        margin:0 auto;
    }